<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <h1>Ramiz! Fullstack web developer</h1>
    <ul>
        <% URLs.forEach(url=> { %>
            <li>
                <%= url.shortURL %>
            </li>
            <% })%>
    </ul>
</body>

</html>